@tailwind base;
@tailwind components;
<<<<<<< HEAD
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    color-scheme: dark;
  }
=======
@tailwind utilities;
>>>>>>> 79589a5fef73cd4a3e558dc47e745275e2da38e5
